/*general styles*/

:root {
  --primary-backgraund-color: #ffffff;
  --secondary-backgraund-color: #2f303a;
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
}

body {
  background-color: var(--primary-backgraund-color);
  color: var(--title-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /*outline: red solid;*/
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/

.header {
  background-color: var(--primary-backgraund-color);
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-logo-studio {
  color: #000000;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.header-nav-items {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.header-nav-link {
  position: relative;
  display: block;
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-nav-link.current {
  color: var(--accent-color);
}

.header-nav-link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.header-right-side {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.header-email-tel {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-email-tel:hover,
.header-email-tel:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/*hero*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--primary-backgraund-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--accent-color);
  color: var(--primary-backgraund-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  width: 216px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/*features*/

.features-container {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
.features-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-title {
  width: 270px;
  text-align: start;
  color: var(--title-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-text {
  width: 270px;
  text-align: start;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.71;
}

/* specialisation*/

.spec-section {
  padding-top: 0;
}

.spec-title {
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.spec-images {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.spec-thumb {
  position: relative;
}
.spec-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.spec-overlay-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

/*our team*/

.team-section {
  background-color: #f5f4fa;
}
.team-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.team-member-description {
  background-color: var(--primary-backgraund-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  padding: 30px 0;
}
.team-member-name {
  /*background-color: var(--primary-backgraund-color);*/
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-member-position {
  /*background-color: var(--primary-backgraund-color);*/
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: #afb1b8;
  background-color: #fff;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}

.socials-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  background-color: var(--accent-color);
  fill: #ffffff;
}

/*regular clients*/

.clients-section {
  background-color: var(--primary-backgraund-color);
  /*padding-top: 0;*/
}

.clients-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;

  color: #afb1b8;
  background-color: #fff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  background-color: var(--primary-backgraund-color);
  border: var(--accent-color) 1px solid;
  border-radius: 4px;
}

.clients-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-section {
  background-color: var(--primary-backgraund-color);
}

/*footer*/

.footer {
  background-color: var(--secondary-backgraund-color);
  padding: 60px 0;
  max-width: 1600px;
  margin: 0 auto;
}

.footer-logo {
  display: block;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;
}

.footer-logo-studio {
  color: var(--primary-backgraund-color);
}

.address {
  font-style: normal;
  text-align: left;
}

.footer-address {
  display: block;
  color: var(--primary-backgraund-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address:hover,
.footer-address:focus {
  color: #2196f3;
}

.footer-email-tel {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email-tel:hover {
  color: var(--accent-color);
}

.footer-email {
  display: block;
  margin-bottom: 9px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-left-part {
  margin-right: 70px;
}
.footer-socials {
  margin-bottom: 20px;
}

.footer-join-us {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-right-part {
  display: block;
  align-items: baseline;
}

.footer-socials {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-color);
}

.footer-socials-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover .footer-socials-icon,
.footer-socials-link:focus .footer-socials-icon {
  fill: #ffffff;
}

/*portfolio*/

.portfolio-filter {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-filter-item {
  padding: 6px 25px;
  text-align: center;
  text-decoration: none;
  border: none;
  box-shadow: none;
  background-color: #f5f4fa;
  color: var(--title-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter-item:hover,
.portfolio-filter-item:focus {
  color: var(--primary-backgraund-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item-link {
  cursor: pointer;
  background-color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-description {
  background-color: var(--primary-backgraund-color);
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  text-align: start;
  padding: 20px 24px;
}

.portfolio-item-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-item-type {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfoilio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-item-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-link:hover .portfolio-item-overlay,
.portfolio-item-link:focus .portfolio-item-overlay {
  transform: translateY(0);
}
.portfolio-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0 24px;
}

/* modal-window*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  /*backdrop-filter: blur(2px);*/
  z-index: 10;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-backgraund-color);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -65%);
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 0;

  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
